
<div class="container">
    <h1>Department Representative</h1>
    <form [formGroup]="form">
        <div class="row">
        <div class="col-md-6">
            <h3>Select Department</h3>
            <select class="form-control" (change)="getStudents()" formControlName="departmentid">
                <option value disabled selected>Select Department</option>
                <option value="{{d.departmentid}}" *ngFor="let d of dep">{{d.department}}</option>
            </select>
        </div>
        <div class="col-md-6">
            <h3>Select Student</h3>
            <select class="form-control" formControlName="id">
                <option value disabled selected>Select Student</option>
                <option value="{{d.id}}" *ngFor="let d of users">{{d.fullname}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary" (click)="addRep()">Add</button>
    </div>

    </form>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th>Phone</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of rep">
            <th scope="row">{{d.fullname}}</th>
            <td>{{d.department}}</td>
            <td>{{d.phone}}</td>
            
          </tr>
          
        </tbody>
      </table>
    
</div>