<div class="container">
    <h1>Update Profile</h1>
    <form [formGroup]="registration" (ngSubmit)="onSubmit()" >
        
        <div class="col-md-6">
            <label>Name</label>
            <input class="form-control" formControlName="fullname" [(ngModel)]="profile.fullname">
            <div class="text-danger"  *ngIf="fullname && fullname.invalid && fullname.touched">Name is required</div>
        </div>
        <div class="col-md-6">
            <label>Email</label>
            <input class="form-control" formControlName="username" id="username" [(ngModel)]="profile.username">
            <div class="text-danger" *ngIf="username && username.invalid && username.touched">Email is required</div>
        </div>
   
    
   
    <div class="row">
        <div class="col-md-6">
            <label>Phone</label>
            <input class="form-control" formControlName="phone" id="phone" [(ngModel)]="profile.phone">
            <div class="text-danger" *ngIf="phone && phone.invalid && phone.touched">Phone number is required</div>
        </div>
    </div>
    <div class="col-md-6">
        <button type="submit" [disabled]="!registration.valid" class="btn btn-primary">Update Profile</button>
    </div>

</form>
<h1>Change Password</h1>
<form [formGroup]="passwordForm" (ngSubmit)="updatePassword()" >
    <div class="col-md-6">
        <label>Password</label>
          <input 
            formControlName="password"
            id="password" 
            type="password" 
            class="form-control">
            <div class="text-danger" *ngIf="password && password.invalid && password.touched">Minimum length (6) is required</div>
        </div>
        <div class="col-md-6">
            <label>Confirm Password</label>
            <input 
            formControlName="confirm_password"
            id="confirm_password" 
            type="password" 
            class="form-control">
            <div class="text-danger" *ngIf="confirm_password && confirm_password.invalid && confirm_password.touched">Password is required</div>
            <div class="text-danger" *ngIf="passwordForm.hasError('notSame')">Password not match</div>

        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!passwordForm.valid">Update Password</button>
</form>
</div>
