<div class="container">
    <h1 class="text-center">Central Placement Cell,CUSAT</h1>
    <p>CUSAT placement cell coordinate the placement activities of all CUSAT departments. Recruiters across the country find CUSAT as a preferred destination. The placement cell provide the connecting link between recruiters and our students.

        Welcome to CUSAT placement to have a pleasant and successful drive.</p><br>
        <p>
            The placement officer, staff, student coordinators strive hard to liaison with recruiters, to maintain the communications, slot fixing, communicating with students etc. The placement office is always active throughout the placement process working beyond office hours.

        </p>
        
        <div class="text-center">
            <h1>Our Recruiters</h1>
            <img src="https://cpo.cusat.ac.in/images/recruiters.png">
        </div>
        
</div>
<app-home-footer></app-home-footer>
