<div class="container">
    <h1 class="text-center">Placements Details</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Designation</th>
                <th>CTC</th>
                <th>Uploaded on</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of pdetails">
                <td>{{p.companyname}}</td>
                <td>{{p.designantion}}</td>
                <td>{{p.ctc}} LPA</td>
                <td>
                    {{p.timestamp | date:'dd/MM/yyyy'}} at   {{p.timestamp | date:'hh:mm'}}
                   
                </td>
                <td><button class="btn btn-success" (click)="viewPlacementDetails(p.pid)">View Details</button></td>
                <td><button class="btn btn-danger" (click)="delete(p.pid)">Delete</button></td>



            </tr>
            
        </tbody>
    </table>
</div>
