<!-- <app-student-nav></app-student-nav> -->
<div class="container-fluid" *ngIf="isapproved">
    <!-- {{username}} -->
    <!-- <img [src]="photo" class="rounded-circle mb-3" style="width: 150px;"
  alt="Avatar" /> -->
 

  
    <div class="row">
      <div class="col-md-3">
        <h2 class="text-center">My Profile</h2>
        <div class="card text-center bg-light">
          <div style="font-size: larger;font-weight: bold;">
            <img [src]="photo" class="rounded-circle shadow-4" style="width: 150px; height: 160px;"
            alt="Avatar" />
            <h3 class="text-primary">{{fullname}}</h3>
            <span>{{batchname}}</span><br>
           <span>{{department}}</span> 
            
        </div>

        </div>
       
         
      </div>
      <div class="col-md-6">
        <h1 class="text-center text-danger">News Feeds</h1>
        <div *ngFor="let d of placementDetails">
          
          <h5></h5>
          <h6 class="text-danger"></h6>

          <div class="card">
            <div class="card-header">
              <h1>{{d.companyname}}</h1>
            </div>
            <div class="card-body">
              <h2 class="card-title">{{d.designantion}}</h2>
              <p class="card-text">{{d.description}}</p>
              <h3>CTC:{{d.ctc}}LPA</h3>
              <h3>Registration {{d.registration_start_date}} to {{d.registration_end_date}}</h3>
              <div>
                <span style="margin-right: 10px;">
                  <a class="btn btn-success" (click)="download(d.job_description_file)">Download Job Description</a>
                </span>
               
                <a class="btn btn-primary" (click)="goto(d.registration_link)">Register Now</a>

              </div>

            </div>
          </div>

        </div>
        
        
      </div>
      <div class="col-md-3">
        <h2 class="text-center">Placement Updates</h2>
      </div>
    </div>
    
      
           
        
      
   

   


    
    <!-- <img [src]="photo"> -->
</div>
<div  *ngIf="!isapproved">
  <div class="container">
    <div class="alert alert-danger text-center" role="alert">
      <h2>Sorry, you are not verfied by department Representative.Please wait or contact your Department Placement Representative</h2>
    </div>
  </div>

</div>
<app-add-student-details *ngIf="!isFilled"></app-add-student-details>